@import './base.css';

.largeurbook{
  width:80%;
}

#app {
  margin: 10px ;
  padding: 1rem;
  /* background-color: black; */

  background: rgb(34, 33, 33);
  background: linear-gradient(0deg, rgba(27,26,26,1) 0%, rgba(0,0,0,1) 100%);

  opacity:98%;
  font-weight: normal;

  color:white;

  border: rgba(249, 230, 121, 0.894) solid 1px;
  border-radius: 10px;

 padding-bottom: 50px;
}

a,
.green {
  text-decoration: none;
  color: rgb(239, 240, 220);
  transition: 0.4s;
}

@media (hover: hover) {
  /* a:hover {
    background-color: hsla(57, 83%, 86%, 0.381);
  } */
}

.case:hover {
  background-color: gray;
}

@media (min-width: 1024px) {
  body {

    /* display:flex;
    justify-content: center;
    align-items: center; */
    margin:0;
    display: flex;
    place-items: center;
  }

  #app {

    /* display: grid; */
    
    display:flex;
    flex-direction: column;
    width: 65%; /*50*/

    grid-template-columns: 1fr 1fr;
    /*padding: 0 2rem;*/
  }
}
